body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    color: #f9faf8;
    margin-top: -30px;

}
.main {
    display: flex;
    flex-direction: column;

}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.one {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
p {
    font-size: 18px;
    color: #f9faf8;
}
.image {
    font-size: 18px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:#f9faf8;
    padding: 20px;
}

